<div class="ArtistTitle span12">
	<h1>Artist directory</h1>
	<a id="removeAlbumButton" data-bind="click: addArtist" class="btn btn-small pull-right" href="#"><i class="icon-minus"></i></a>
	<a id="addAlbumButton" data-bind="click: addArtist" class="btn btn-small pull-right" href="#"><i class="icon-plus"></i></a>
</div>
<br />
<br />
<div id="artistDir">
	<div class="span9" data-bind="foreach: artists">
		<!-- ko compose: { model: 'viewmodels/artists/artist', activationData: $data }-->
		<!--/ko-->
	</div>
</div>
<div class="span2 well visible-desktop">
	Select one artist to edit<br />
	<br />
	Click add button to create new artist<br />
	<br />
	Click delete button to remove artist selected
</div>
