<div id="ArtistsConfig">
    <div class="ArtistTitle">
        <h2>Artist directory</h2>
        <a href="." class="float-right">
            <img src="../../Images/delete.png" data-bind="click: addArtist" /></a>
        <a href="." class="float-right">
            <img src="../../Images/add.png" data-bind="click: addArtist" /></a>
    </div>
    <br />
    <br />
    <div class="AlbumsDirContainerFill">
        <div data-bind="visible: artists.isLoading" style="text-align: center">
            <img src="../../Images/ajax_loader_page.gif" />
        </div>
        <div class="AlbumsDirContainer" data-bind="foreach: artists.artistsCollection">
            <a href=".">
                <div class="AlbumsDirItem" data-bind="attr: { style: FullImageUrl }, click: $parent.editArtist">
                    <div class="AlbumsDirArtist" data-bind="text: Name"></div>
                </div>
            </a>
        </div>
    </div>
    <br />
    <br />
    <br />
    Select one artist to edit
    <br />
    Click add button to create new artist<br />
    Click delete button to remove artist selected


    <div id="editDialog" title="Edit Artist">
        <div class="AlbumDirEditPhoto">
            <img data-bind="attr: { src: artists.selectedArtist.fullImageUrl }" width="200" height="200" />
        </div>
        <div class="AlbumDirEditRightPanel">
            <p>Artist name</p>
            <input type="text" data-bind="value: artists.selectedArtist.name" />
            <p>Image</p>
            <input type="text" data-bind="value: artists.selectedArtist.imageUrl" />
        </div>
    </div>

    <div id="addDialog" title="Add new artist">
        <div class="AlbumDirEditRightPanel">
            <p>Artist name</p>
            <input type="text" data-bind="value: artists.selectedArtist.name" />
            <p>Image</p>
            <input type="text" data-bind="value: artists.selectedArtist.imageUrl" />
        </div>
    </div>
</div>
