<div class="margin-review span6 img-polaroid gray ">
	<div class="span5">
		<img data-bind="attr: { src: albumModel.FullCoverUrl }"
		     class=""
		     width="100%"
		     height="100%" />
	</div>
	<div class="span7">

		<h3 data-bind="text: albumModel.AlbumName"></h3> 
		<div style="font-size: 18px" data-bind="text: albumModel.ArtistName"></div>
		<div  data-bind="text: albumModel.Year"></div>
		<span class="star-rating mini">
			<input type="radio" name="rating" value="1"><i></i>
			<input type="radio" name="rating" value="2"><i></i>
			<input type="radio" name="rating" value="3"><i></i>
			<input type="radio" name="rating" value="4"><i></i>
			<input type="radio" name="rating" value="5"><i></i>
			<input type="radio" name="rating" value="6"><i></i>
			<input type="radio" name="rating" value="7"><i></i>
			<input type="radio" name="rating" value="7"><i></i>
			<input type="radio" name="rating" value="9"><i></i>
			<input type="radio" name="rating" value="10"><i></i>
		</span>
		<div class="number-rating-mini">
			<h3>6.6</h3>
		</div>
		<div>
			<span class="icon-align-justify"></span> Comments <span class="badge">10</span> 
		</div>

	</div>
</div>

