body {
  margin: 0;
  font-family: Georgia;
  font-size: 18px;
  line-height: 1.5em;
  color: #333333;
  background-color: #efeeef;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px 0;
  font-family: inherit;
  font-weight: bold;
  line-height: 20px;
  color: inherit;
    font-family: 'Oswald';
  text-rendering: optimizelegibility;
}

.splash {
    position: fixed;
    text-align: center;
    width: 100%;
    padding: 10% 0 0 0;
    height: 90%
}

.splash .message {
    font-size: 5em;
    line-height: 1.5em;
    -webkit-text-shadow: rgba(0, 0, 0, 0.5) 0px 0px 15px;
    text-shadow: rgba(0, 0, 0, 0.5) 0px 0px 15px;
    text-transform: uppercase;
}

.splash .icon-spinner {
    text-align: center;
    display: inline-block;
    font-size: 5em;
    margin-top: 50px;
}

.page-host {
    position: relative;
}

.navbar-fixed-top {
    z-index: 100;
}

.navbar-fixed-top .navbar-inner {
    padding-left: 1em;
    padding-right: 1em;
}

.navbar-fixed-top .icon-home {
    font-size: 18px
}

.loader {
    margin: 20px 8px 4px 8px;
    visibility: hidden;
}

.loader.active {
    visibility: visible;
}

@media (max-width: 979px) {
    .page-host {
        top: 0;
    }

    .navbar-fixed-top {
        margin-bottom: 0;
    }
}


div.img-polaroid.gray {
	background: #FAFAFA;
	position: relative;
}

.margin-title-land {
	margin: 15px 0 20px 0;
}

.margin-review {
	margin: 15px 25px 0px 0px !important;
}

ul {
    list-style-type: none;
}

.send-comment {
	width: 90%;
}

.popover .popover-title button.close
{
	position: absolute;
	right: 15px;
	top: 15px;
}

.popover-position {
	position: absolute;
	top: -200px; 
	left: 140px; 
	display: none;
}

.comments {
    width: 300px;
}

.comments li {
    width: 100%;
    float: left;
    margin-left: -20px;
}

.popover {
    max-width: 400px !important;
}

.black-font {
	position: relative;
}

.black-font a {
    color: #333333;
}

.number-rating {
	background: none repeat scroll 0 0 #A5DF00;
    color: #FFFFFF;
	width: 15%;
	height: 15%;
	max-width: 60px;
    max-height: 60px;
    padding-left: 7px;
    padding-top: 20px;
    position: absolute;
    right: 20px;
	bottom: 20px;
    
}

.number-rating-mini {
	background: none repeat scroll 0 0 #A5DF00;
    color: #FFFFFF;
	width: 20%;
	height: 15%;
	max-width: 40px;
    max-height: 40px;
    padding-left: 3px;
    padding-top: 10px;
    position: absolute;
    right: 5px;
	bottom: 35px;
}

.number-rating-land {
	background: none repeat scroll 0 0 #A5DF00;
    color: #FFFFFF;
	width: 20%;
	height: 25%;
	max-width: 40px;
    max-height: 45px;
    padding-left: 3px;
    padding-top: 10px;
    position: absolute;
    right: 15px;
	bottom: 30px;
}

.activities {
	margin: 13px 0 0 0 !important;
	min-height: 500px !important;
	position:absolute; 
	left:78%; 
	width: 20%
}

.albums {
    min-height: 500px !important;
}

.margin-large-top {
  margin-top: 5px;
}
.margin-large-bottom {
  margin-bottom: 30px;
}

.view-buttons {
	float: right;
}

.hidden-block {
  display: none;
}


/*stars rate


	
DF3A01
DF7401
DBA901
D7DF01
A5DF00
	
	*/



.star-rating {
  font-size: 0;
  white-space: nowrap;
  display: inline-block;
  width: 50%;
  height: 35px;
  overflow: hidden;
  position: relative;
  background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjREREREREIiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
  background-size: 20% 100%;
  background-repeat: repeat;
}
.star-rating i {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 20%;
  height: 100%;
  z-index: 1;
  background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjRkZERjg4IiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
  background-size: 100% 100%;
  background-repeat: repeat;
}
.star-rating input {
  -moz-appearance: none;
  -webkit-appearance: none;
  opacity: 0;
  display: inline-block;
  width: 20%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 2;
  position: relative;
}
.star-rating input:hover + i,
.star-rating input:checked + i {
  opacity: 1;
}
.star-rating i ~ i {
  background-size: 50% 100%;
  width: 40%;
}
.star-rating i ~ i ~ i {
  background-size: 33.333333333% 100%;
  width: 60%;
}
.star-rating i ~ i ~ i ~ i {
  background-size: 25% 100%;
  width: 80%;
}
.star-rating i ~ i ~ i ~ i ~ i {
  background-size: 20% 100%;
  width: 100%;
}


.mini {
  height: 20px;
}

.land {
  height: 23px;
}

.margin-review2 {
	margin: 0 0 20px 0 !important;
	min-height: 500px;
}
