<div id="AlbumsConfig">
    <h1>Albums directory</h1>
    <br />
    <div data-bind="visible: artistsWithAlbums.isLoading" style="text-align: center">
        <img src="../../Images/ajax_loader_page.gif" />
    </div>
    <br />
    <div data-bind="foreach: artistsWithAlbums.artistCollection">
        <h2 data-bind="text: Name"></h2>
        <div class="row-fluid">
            <div data-bind="foreach: Albums">
                <div style="float: left">
                    <div class="span3">
                        <div style="width: 150px; float: left; margin-right: 20px">
                            <div style="float: left; width: 150px; height: 150px;">
                                <img style="position: absolute" data-bind="attr: { src: '../../Images/Covers/' + CoverUrl }" width="150" height="150" class="img-circle" />
                                <div class="img-circle" style="width: 25px; height: 25px; background: #efeeef; position: absolute; margin-left: 62px; margin-top: 62px"></div>
                            </div>
                            <div style="text-align: center">
                                <div data-bind="text: AlbumName"></div>
                                <div data-bind="text: Year"></div>
                            </div>
                            <br />
                        </div>
                    </div>
                </div>
            </div>
            <br />
        </div>
    </div>
</div>
