USE [master]
GO
/****** Object:  Database [AppDB]    Script Date: 20/01/2014 19:44:39 ******/
CREATE DATABASE [AppDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AppDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\AppDB.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'AppDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\AppDB_log.ldf' , SIZE = 1040KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AppDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AppDB]
GO
/****** Object:  Table [dbo].[t_albums]    Script Date: 20/01/2014 19:44:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[t_albums](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NOT NULL,
	[artistid] [int] NOT NULL,
	[coverurl] [varchar](50) NULL,
	[year] [int] NULL,
 CONSTRAINT [PK_t_albums] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[t_artists]    Script Date: 20/01/2014 19:44:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[t_artists](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NOT NULL,
	[imageurl] [varchar](50) NULL,
 CONSTRAINT [PK_t_artists] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[t_comments]    Script Date: 20/01/2014 19:44:40 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[t_comments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[body] [nvarchar](500) NOT NULL,
	[date] [smalldatetime] NOT NULL,
	[albumid] [int] NOT NULL,
	[userid] [varchar](100) NOT NULL,
 CONSTRAINT [PrimaryKey_68b8ff44-b31d-4a18-9830-c5003fc66dc5] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[t_rates]    Script Date: 20/01/2014 19:44:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[t_rates](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[albumid] [int] NOT NULL,
	[value] [numeric](3, 1) NOT NULL,
	[date] [smalldatetime] NOT NULL,
	[userid] [varchar](100) NOT NULL,
 CONSTRAINT [PK_t_rates] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[t_albums] ON 

INSERT [dbo].[t_albums] ([id], [name], [artistid], [coverurl], [year]) VALUES (50, N'Living things', 1, N'livingthings.jpg', 2012)
INSERT [dbo].[t_albums] ([id], [name], [artistid], [coverurl], [year]) VALUES (51, N'Abbey road', 2, N'abbeyroad.jpg', 1969)
INSERT [dbo].[t_albums] ([id], [name], [artistid], [coverurl], [year]) VALUES (52, N'Raise of the fenix', 3, N'riseofthefenix.jpg', 2011)
SET IDENTITY_INSERT [dbo].[t_albums] OFF
SET IDENTITY_INSERT [dbo].[t_artists] ON 

INSERT [dbo].[t_artists] ([id], [name], [imageurl]) VALUES (1, N'Linkin Park', N'linkinpark.jpg')
INSERT [dbo].[t_artists] ([id], [name], [imageurl]) VALUES (2, N'The Beatles', N'thebeatles.jpg')
INSERT [dbo].[t_artists] ([id], [name], [imageurl]) VALUES (3, N'Tenacious D', N'tenaciousd.jpg')
SET IDENTITY_INSERT [dbo].[t_artists] OFF
SET IDENTITY_INSERT [dbo].[t_comments] ON 

INSERT [dbo].[t_comments] ([Id], [body], [date], [albumid], [userid]) VALUES (1, N'Hey ! the first comment', CAST(0xA2B604F4 AS SmallDateTime), 71, N'anonymous')
INSERT [dbo].[t_comments] ([Id], [body], [date], [albumid], [userid]) VALUES (2, N'What an album !', CAST(0xA2B604F6 AS SmallDateTime), 67, N'anonymous')
INSERT [dbo].[t_comments] ([Id], [body], [date], [albumid], [userid]) VALUES (3, N'Yeah great', CAST(0xA2B604F7 AS SmallDateTime), 67, N'anonymous')
SET IDENTITY_INSERT [dbo].[t_comments] OFF
SET IDENTITY_INSERT [dbo].[t_rates] ON 

INSERT [dbo].[t_rates] ([id], [albumid], [value], [date], [userid]) VALUES (1, 67, CAST(5.0 AS Numeric(3, 1)), CAST(0xA2B60521 AS SmallDateTime), N'anonymous')
INSERT [dbo].[t_rates] ([id], [albumid], [value], [date], [userid]) VALUES (2, 67, CAST(10.0 AS Numeric(3, 1)), CAST(0xA2B60521 AS SmallDateTime), N'anonymous')
INSERT [dbo].[t_rates] ([id], [albumid], [value], [date], [userid]) VALUES (3, 71, CAST(8.0 AS Numeric(3, 1)), CAST(0xA2B60522 AS SmallDateTime), N'anonymous')
SET IDENTITY_INSERT [dbo].[t_rates] OFF
ALTER TABLE [dbo].[t_albums]  WITH CHECK ADD  CONSTRAINT [FK_t_albums_t_artists] FOREIGN KEY([artistid])
REFERENCES [dbo].[t_artists] ([id])
GO
ALTER TABLE [dbo].[t_albums] CHECK CONSTRAINT [FK_t_albums_t_artists]
GO
ALTER TABLE [dbo].[t_comments]  WITH CHECK ADD FOREIGN KEY([albumid])
REFERENCES [dbo].[t_albums] ([id])
GO
ALTER TABLE [dbo].[t_rates]  WITH CHECK ADD FOREIGN KEY([albumid])
REFERENCES [dbo].[t_albums] ([id])
GO
ALTER TABLE [dbo].[t_rates]  WITH CHECK ADD  CONSTRAINT [FK_t_rates_t_albums] FOREIGN KEY([albumid])
REFERENCES [dbo].[t_albums] ([id])
GO
ALTER TABLE [dbo].[t_rates] CHECK CONSTRAINT [FK_t_rates_t_albums]
GO
USE [master]
GO
